<footer class="footer mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4">
        <h5 class="text-white mb-3">
          <i class="fas fa-car me-2"></i>وصلني بطريقك
        </h5>
        <p class="text-light">منصة سورية للربط بين السائقين والراغبين بالسفر بين المدن، نوفر حلولاً ذكية للسفر المشترك.</p>
      </div>

      <div class="col-lg-2 col-md-4 mb-4">
        <h6 class="text-white mb-3">روابط سريعة</h6>
        <ul class="list-unstyled">
          <li><%= link_to "الرئيسية", root_path, class: "text-light text-decoration-none" %></li>
          <li><%= link_to "الرحلات", rides_path, class: "text-light text-decoration-none" %></li>
          <li><%= link_to "عن المنصة", about_path, class: "text-light text-decoration-none" %></li>
          <li><%= link_to "اتصل بنا", contact_path, class: "text-light text-decoration-none" %></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-4 mb-4">
        <h6 class="text-white mb-3">المساعدة</h6>
        <ul class="list-unstyled">
          <li><%= link_to "كيفية العمل", how_it_works_path, class: "text-light text-decoration-none" %></li>
          <li><%= link_to "الأسئلة الشائعة", "#", class: "text-light text-decoration-none" %></li>
          <li><%= link_to "شروط الاستخدام", "#", class: "text-light text-decoration-none" %></li>
          <li><%= link_to "سياسة الخصوصية", "#", class: "text-light text-decoration-none" %></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-4 mb-4">
        <h6 class="text-white mb-3">تواصل معنا</h6>
        <div class="d-flex gap-3">
          <a href="#" class="text-light fs-5"><i class="fab fa-facebook"></i></a>
          <a href="#" class="text-light fs-5"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-light fs-5"><i class="fab fa-instagram"></i></a>
          <a href="#" class="text-light fs-5"><i class="fab fa-whatsapp"></i></a>
        </div>
        <div class="mt-3">
          <p class="text-light mb-1"><i class="fas fa-phone me-2"></i>+49 162 901 4596
          </p>
          <p class="text-light mb-0"><i class="fas fa-envelope me-2"></i>info@wasalani.com</p>
        </div>
      </div>
    </div>

    <hr class="bg-light">

    <div class="row">
      <div class="col-md-6">
        <p class="text-light mb-0">© 2023 وصلني بطريقك. جميع الحقوق محفوظة</p>
      </div>
      <div class="col-md-6 text-md-end">
        <p class="text-light mb-0">صنع ب❤️ في سوريا</p>
      </div>
    </div>
  </div>
</footer>
